/**
 * Website CSS for the forms
 */
.qui-form {
    float: left;
    width: 100%;
}

.qui-formfield {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.qui-formfield legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.qui-formfield-10 {
    width: 10%;
}

.qui-formfield-20 {
    width: 20%;
}

.qui-formfield-30 {
    width: 30%;
}

.qui-formfield-40 {
    width: 40%;
}

.qui-formfield-50 {
    width: 50%;
}

.qui-formfield-60 {
    width: 60%;
}

.qui-formfield-70 {
    width: 70%;
}

.qui-formfield-80 {
    width: 80%;
}

.qui-formfield-90 {
    width: 90%;
}

.qui-form input[type="submit"] {
    clear: both;
}

/**
 ========================================== */

.qui-formfield input[type="search"],
.qui-formfield input[type="url"],
.qui-formfield input[type="number"],
.qui-formfield input[type="range"],
.qui-formfield input[type="date"],
.qui-formfield input[type="month"],
.qui-formfield input[type="week"],
.qui-formfield input[type="time"],
.qui-formfield input[type="datetime"],
.qui-formfield input[type="datetime-local"],
.qui-formfield input[type="tel"],
.qui-formfield input[type="text"],
.qui-formfield input[type="email"],
.qui-formfield input[type="password"],
.qui-formfield select,
.qui-formfield textarea {
    width: 100%;
}

input[type="text"].qui-form-error,
textarea.qui-form-error {
    border-color: #ff0033;
}

label.qui-form-error {
    color: #ff0033;
}

.qui-formfield-required_hint {
    float: right;
    font-size: 14px;
    margin: 10px 0 0 0;
}