
.qui-formbuilder {
    float: left;
    height: 100%;
    padding: 10px;
    position: relative;
    width: 100%;
}

.qui-formbuilder-buttons {
    border-bottom: 1px solid #e1e4e9;
    float: left;
    padding: 20px 10px;
    width: calc(100% - 10px);
}

.qui-formbuilder-container {
    float: left;
    height: calc(100% - 70px);
    overflow: auto;
    padding: 10px 0 10px 10px;
    position: relative;
    width: calc(100% - 300px);
}

.qui-formbuilder-container-buttons {
    border-bottom: 1px solid #e1e4e9;
    float: left;
    margin-left: 10px;
    padding: 20px 10px;
    width: calc(100% - 310px);
}

.qui-formbuilder-container.sorting {
    overflow-x: hidden;
    overflow-y: auto;
}

/** settings
 ============================================== */

.qui-formbuilder-settings {
    border-right: 10px solid #eeeeee;
    float: left;
    height: 100%;
    overflow: auto;
    padding: 0;
    width: 300px;
}

.qui-formbuilder-settings__hidden {
    display: none !important;
}

.qui-formbuilder-settings-content {
    float: left;
    padding: 10px;
    width: calc(100% - 10px);
}

.qui-form-settings-setting {
    border-bottom: 1px solid #dddddd;
    clear: both;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.qui-form-settings-label {
    float: left;
    width: 100%;
}

.qui-form-settings-label:not(:last-child) {
    margin-bottom: 20px;
}

.qui-form-settings-setting-title {
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.qui-formbuilder-settings-content input[type="text"] {
    width: 100%;
}

.form-receivers-emailaddresses {
    float: left;
    margin-top: 20px;
    width: 100%;
}

/** field list
 ============================================== */

.qui-formbuilder-formBuilderFields {
    background: #fff;
    border-right: 1px solid #bbb;
    height: 100%;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 100;
}

.qui-formbuilder-formBuilderFields-title {
    color: #777;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}

.qui-formbuilder-formBuilderFields-entry {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.qui-formbuilder-formBuilderFields-buttons {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.qui-formbuilder-formBuilderFields button {
    float: left;
    width: 50%;
}

.qui-formbuilder-container.sortEnabled .qui-formfield,
.qui-formbuilder-container.sortEnabled .qui-formfield * {
    cursor: move !important;
}

