
.qui-formfield {
    border: 1px solid #fff;
    float: left;
    margin: 10px 0 0 0;
    padding: 10px;
    position: relative;
    width: 100%;
}

.qui-formfield-active {
    background-color: #CFF09E;
    border: 1px dashed #666;
}

.qui-formfield:hover {
    border: 1px dashed #ababab;
}

.qui-formfield-prevent {
    cursor: pointer;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.qui-formfield legend {
    background: transparent;
}

/** action buttons
 * ================================================ */

.qui-formfield-button-duplicate {
    bottom: 10px;
    position: absolute;
    right: 50px;
    text-align: center;
    width: 30px;
}

.qui-formfield-button-duplicate .qui-button-drop {
    bottom: -4px;
    font-size: 7px;
    left: -3px;
}

.qui-formfield-button-delete {
    bottom: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 30px;
}

/** settings
 * ================================================ */

.qui-formfield-settings {
    float: left;
    padding: 10px;
    width: 100%;
}

.qui-formfield-settings-setting {
    border-bottom: 1px solid #dddddd;
    clear: both;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.qui-formfield-settings-setting-title {
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.qui-formfield-settings-setting textarea {
    width: 100%;
}

.qui-formfield-settings-setting.__checkbox .qui-formfield-settings-setting-title {
    margin-bottom: 0px;
    width: calc(100% - 30px);
}

.qui-formfield-settings-setting input {
    width: 100%;
}

.qui-formfield-settings-setting input[type="checkbox"],
.qui-formfield-settings-setting input[type="radio"] {
    width: 20px;
}

.qui-formfield-settings-setting.__checkbox input {
    float: left;
    margin: 0 10px 0 0;
}