
.form-name--extend {
    clear: none;
    float: left;
    width: 100%;
}

.form-name-input {
    clear: none;
    float: left;
    max-width: 50%;
}

.form-name-input {
    padding-right: 10px;
}

.form-name-input span {
    clear: both;
    display: block;
}

.form-name-input input {
    width: 100%;
}

.form-name--extend .form-name-firstname,
.form-name--extend .form-name-lastname {
    max-width: 30%;
}

.form-name--extend .form-name-title,
.form-name--extend .form-name-suffix {
    clear: none;
    float: left;
    display: inline;
    width: 20%;
}